.bill-total-container {
background-color: antiquewhite;
}

.bill-row-container {
      display: flex;
    justify-content: space-between;
}

.split-bill-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.bill-row-container span {
  text-transform: capitalize;
    font-size: 1.3rem;
}

.bill-row-container input {
    padding: .25rem .5rem;
    font-size: 1.25rem;
}