.App {
  display: flex;
  /* change this back for production. I have this hear for smaller view */
  flex-direction: column;
  /* change this back for production. I have this hear for smaller view */

  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
}

.disabled {
  background-color: rgb(229, 198, 145);
  cursor: not-allowed;
}
/* //////////// */
/* ERROR MODAL */
/* //////////// */

.error-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 25vh;
  width: 50vh;
  z-index: 10;
  border-radius: 4px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 300px 2000px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 300px 2000px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 300px 2000px rgba(0, 0, 0, 0.4);
}

.error-modal div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error-modal span:last-child {
  font-size: 2rem;
  position: absolute;
  right: 0;
}

.error-modal h1 {
}

.error-modal p {
  text-align: center;
  font-size: 1.5rem;
}

/* //////////// */
/* ERROR MODAL */
/* //////////// */

.peer-container,
.bill-total-container {
  height: 30vh;

  /* change this back for production. I have this hear for smaller view */
  /* width: 33% */
  width: 50%;
  /* change this back for production. I have this hear for smaller view */

  display: flex;
  flex-direction: column;
  /* change this back for production. I have this hear for smaller view */
  /* was margin: 0 2rem */
  margin: 10rem;
  /* change this back for production. I have this hear for smaller view */
}

.peer-container {
  align-items: end;
}

.bill-total-container {
  padding: 1rem 2rem;
  border-radius: 4px;
}
#close-btn {
  width: 8rem;
  padding: 0.5rem;
}


