.App {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.peer-container, .bill-total-container {
  width: 33%;
  display: flex;
  flex-direction: column;
}